/* Mobile */

@media screen and (max-width: 575px) {
    .banner-content h1 {
        font-size: 28px;
    }

    .banner-content span {
        font-size: 16px;
    }

    #nav-bar .container div.extend-avatar {
        display: none;
    }

    #nav-bar .container a {
        border: none !important;
        height: 20px;
        font-size: 12px;
        padding: 16px 0;
    }

    #nav-bar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    #job-info .container {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .experiment {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .skill {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .language {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .activity {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    .study {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    .hobby {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .grid-title h1 {
        font-size: 20px;
    }

    .grid-title i {
        transform: scale(2);
    }

    #job-info p,
    .icon-detail span {
        font-size: 14px;
    }

    .list-hobby {
        gap: 20px;
        flex-wrap: wrap;
    }

    .icon-detail {
        text-align: center;
    }

    #job-info .container .item {
        padding: 8px;
    }

    .certi-item {
        display: block;
        width: auto;
    }

    .certi-item div img {
        width: 100%;
        margin-bottom: 8px;
    }

    .no2,.no3 {
        width: auto;
        padding-top: 40px;
        margin-top: 32px;
        border-top: 1px solid #d6c08d;
    }

    .no2 {
        border-left: none;
    }

    .no3 {
        border-bottom: 1px solid #d6c08d;
        padding-bottom: 32px;
    }

    hr {
        display: none;
    }

    .project-item {
        flex-direction: column;
        gap: 16px;
    }

    .project-info {
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .position {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .project-detail table tr td:first-child {
        width: auto;
    }

    .project-info i {
        margin: 0 4px;
    }

    #footer .container ul li p {
        display: none;
    }

    .icon-facebook-circled,
    .icon-linkedin-circled,
    .icon-github-circled {
        font-size: 208%;
    }

}